* {
    padding:0;
    margin:10;
    font-family:sans-serif;
}

.container {
    display:flex;
    justify-content:space-evenly;
}
.form {
    width:200px;
    text-align:center;
    align-items:center;
    height:200px;
    margin: 10px;
    border: 2px solid black;
}
h3 {
    padding:10px;
    margin:0;
}
p {
    padding:10px;
    margin:0;
}
input[type=submit] {
    margin-top:50px;
    padding:5px;
    box-shadow:2px 2px black;
}
#activityLog {
    margin:20px;
    display:flex;
    flex-direction:column;
}
textarea {
    border: 2px solid black;
    overflow:scroll;
}
