* {
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.container {
    width: 330px;
    margin: 100px auto;
    padding: 30px;
    border: 3px solid black;
}
.select {
    width: 150px;
}

.form-group {
    margin: 10px 0;
    display:flex;
    justify-content:space-between;
}
.form-group-col {
    display:flex;
    flex-direction:column;
}
.form-group-right {
    margin: 10px 0;
    display:flex;
    justify-content:end;
}
.button {
    padding:5px;
    justify-self:end;
    background-color:royalblue;
    color:white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}
#responses {
    display:flex;
    padding:10px;
}
#labels {
    min-width: 150px;
}

#responses ul {
    list-style:none;
}