<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='/css/style.css')}}" rel="stylesheet">
    <title>Dojo Survey</title>
</head>
<body>
  <div class='container'>
  <form action='/submit' method='post'>
      {% with messages = get_flashed_messages() %} <!-- declare a variable called messages -->
      {% if messages %}                            <!-- check if there are any messages -->
          {% for message in messages %}            <!-- loop through the messages -->
              <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
          {% endfor %}
      {% endif %}
      {% endwith %}
        <div class="form-group">
          <label for="name">Your Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="">
        </div>
        <div class="form-group">
          <label for="location">Dojo Location:</label>
          <select class="select" id="location" name="location">
            <option>San Jose</option>
            <option>Chicago</option>
            <option>Dallas</option>
            <option>Remote</option>
          </select>
        </div>
        <div class="form-group">
          <label for="language">Favorite Language:</label>
          <select class="select" id="language" name="language">
            <option>Python</option>
            <option>Java</option>
            <option>C/C++</option>
            <option>Ruby</option>
          </select>
        </div>
        <div class="form-group-col">
          <label for="comment">Comment (optional):</label>
          <textarea class="textarea" id="comment" name="comment" rows="4"></textarea>
        </div>
        <div class="form-group-right">
          <input type="submit" class="button" value="Submit">
        </div>
    </form>
  </div>  
</body>
</html>