<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body style="margin:auto;width:80%;font-family:sans-serif">
    <h1 style="text-align:center">Welcome!</h1>
    <div style="display:flex;width:100%;flex-wrap:wrap;justify-content:space-between">
        {% for x in range(num): %}
            <div style="height:200px;width:200px;margin:10px;border:2px solid black;border-radius:5%;background-color:{{color}}"></div>
        {% endfor %}
    </div>
</body>
</html>