* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin:auto;
    width:fit-content;
}
h1 {
    background-color:black;
    color:red;
    padding:10px;
    margin:10px auto;
    width:fit-content;
    text-align:center;
}
#board {
    display:flex;
    width:fit-content;
    margin:auto;
    flex-direction:column;
}
.row {
    display:flex;
}
.square {
    background-color:red;
    width:70px;
    height:70px;
}