* {
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.error {
    background-color:red;
    color:white;
    text-align:center;
    border: 2px black solid
}
.success {
    background-color:green;
    color:black;
    text-align:center;
    border: 2px black solid

}
.container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    border: 3px solid black;
}
h4 {
    text-decoration:underline;
    margin-top:40px;
}
.select {
    width: 150px;
}
td {
    padding-right:10px;
}

.form-group {
    margin: 10px 0;
    display:flex;
    justify-content:space-between;
}
.form-group-col {
    display:flex;
    flex-direction:column;
}
.form-group-right {
    margin: 10px 0;
    display:flex;
    justify-content:end;
}
#email {
    width:250px;
    height:20px;
}
.button {
    padding:5px;
    justify-self:end;
    background-color:royalblue;
    color:white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}
#responses {
    display:flex;
    padding:10px;
}
#labels {
    min-width: 150px;
}

#responses ul {
    list-style:none;
}