<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="background-color:{{color}}">*** Checkerboard ***</h1>
    <div id="board">
        {% for x in range(height): %}
            <div class="row">
            {% for y in range(width): %}
                {% if (x+y) % 2 == 0: %}
                    <div class="square" style="background-color:{{color}}"></div>
                {% else: %}
                    <div class="square"></div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>